<li class="myPBS-pillMenu-menuSection">
	<a class="myPBS-pillMenu-wsmenu-click" href="#"><i class="menu-icon myPBS-pillMenu-icon-engage"></i>&nbsp;&nbsp;Engange + Promote <span class="myPBS-pillMenu-arrow"></span></a>
	
	<div class="myPBS-pillMenu-megamenu clearfix">
		<ul class="nav nav-tabs tabs-left col-lg-3">
		   
		 {{#each EngagePromote.MenuItem.SubMenu.LeftMenu}}
		  	{{#if @first}}
					<li class="active"><a href='#p-engagepromote-{{Index}}' data-toggle="tab">{{Text}}</a></li>
				{{else}}
					<li><a href='#p-engagepromote-{{Index}}' data-toggle="tab">{{Text}}</a></li>
				{{/if}}
			{{/each}}
	
			<li><a href="#">Browse All By List</a></li>
		</ul>
		
		<div class="tab-content col-lg-8">
	    {{#each EngagePromote.MenuItem.SubMenu.RightMenu}}
				{{#if @first}}
					<div class="tab-pane active fade in" id="p-engagepromote-1">
						{{> subMenuRightFirstPartial}}
					</div>
				{{else}}
					<div class="tab-pane fade in" id='p-engagepromote-{{math @index "+" 1}}'>
						{{> subMenuRightRemainingPartials}}
					</div>	
      	{{/if}}
    	{{/each}}
		</div>
	</div>
</li>